@import './base.css';

#app {
  width: 100%;
  font-weight: normal;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
}

input,
select,
textarea {
  font-family: inherit;
  margin: 10px;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

.navbar {
  background-color: #c1efef;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.footer {
  background-color: #c1efef;
  box-shadow: 2px 1px 9px 0px rgba(0, 0, 0, 0.5);
}

.btn-primary {
  background-color: #5fcdcd !important;
}

.btn-secondary {
  background-color: #ccc !important;
}

/* Stile per il bottone con icona */
.icon-button {
  background-color: transparent;
  color: #2196F3;
  border: none;
  /*padding: 8px;*/
  cursor: pointer;
}

/* Stile per l'icona */
.icon-button i {
  font-size: 20px;
}

.table-header {
  font-weight: bold;
}